<main>
  <div class="merch-container">
    <section class="merch-header">
      <h1><%= message %></h1>
      <div>Seller since <%= @user.created_at %></div>
<!--      <div class="merch-stats"><%#= stats %></div>-->
    </section>
  </div>
</main>
