<main>
  <div class="merch-container">
    <%= render partial: "user_summary",
               locals: {
                   user: @current_user,
                   message: "Hey, #{@current_user.username}! âœŒï¸",
                   contact: "Contact: #{@current_user.email}"
               }
    %>
    <div class="separator"></div>
    <section class="orders">
      <h3>Orders</h3>
    </section>
  </div>
</main>