<main>
  <div class="merch-container">
    <%= render partial: "user_summary",
               locals: {
                   user: @user,
                   message: "Welcome to #{@user.username}'s store. ðŸ‘‹ï¸",
                   contact: "Questions?  Comments?  Reach me @ #{@user.email}"
               }
    %>
    <%= render partial: "products/product_section",
               locals: {
                   user: @user,
                   section_name: 'Products for Sale',
                   in_stock: 'is-only'
               }
    %>
    <div class="separator"></div>
    <section class="ratings">
      <h3>Reviews</h3>
      <%= render partial: "reviews/review_listing", locals: { subject: @user } %>
    </section>
  </div>
</main>