
<% if order %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Item Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.product.price %></td>
          <td>put a partial here</td>
          <td>need a order item method to calc item total</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <section class="subtotal">
    <p>
      Subtotal: <%= @order.subtotal %>
    </p>
    <p>
      Tax:
    </p>
    <p>
      Total:
    </p>
  </section>


<% end %>