<section class="subtotal">
  <p class="end total">
    Subtotal: <%= number_to_currency(order.subtotal) %>
  </p>
  <p class="end">
    Shipping: Free!
  </p>
  <p class="end total">
    Total: <%= number_to_currency(order.subtotal) %>
  </p>
</section>