<% if orders %>
  <div class="orders-container">
  <% orders.each do |order| %>
    <table class="table order-table">
      <thead>
      <tr>
        <th>Order Number</th>
        <th>Order Placed</th>
        <th>Order Status</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= order.id %></td>
        <td><%= show_date(order.date_placed) %></td>
        <td><%= order.status.capitalize %></td>
      </tr>

       <%= render partial: "order_items/dashboard_order_items", locals: { order: order } %>

      </tbody>
    </table>
  <% end %>
  </div>
<% end %>