<% if order %>
  <table class="table order-items-table">
    <% order.filter_items(@current_user).each do |item| %>
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Item Total</th>
      <th>Shipping Status</th>

    </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.subtotal %></td>

        <% if item.shipped %>
          <td>Shipped</td>
        <% else %>
          <td><%= button_to "Mark Item Shipped", order_item_path(item), method: :patch, data: {confirm: "Are you sure you want to mark #{item.name} shipped?"} %></td>

        <% end %>
      </tr>
    </tbody>

    <% end %>
  </table>
  <br>
  <br>
<% end %>