/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

//To visualize - can delete this before submission:
//* {
//  border: black 1px solid;
//}


//All pages
body {
  padding-top: 65px;
}

main {
  display: block;
}


//Merch dash and user show views
.merch-container {
  width: 80%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.merch-container section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.merch-header {
  margin-top: 64px;
  margin-bottom: 48px;
}

.merch-header h1 {
  margin-bottom: 25px;
}

.merch-header div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.merch-stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.merch-stats li {
  float: left;
  margin-right: 10px;
}

.separator {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}

.listings ul {
  display: flex;
  flex-wrap: wrap;
}

.listings ul li {
  list-style: none;
  flex: 0 0 33.333333%;
}
