/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

//To visualize - can delete this before submission:
//* {
//  border: black 1px solid;
//}


//All pages
body {
  padding-top: 65px;
}

main {
  display: block;
}

//.navbar-nav > li {
//  float: left;
//  position: relative;
//}
//
//.navbar-dark .navbar-nav .nav-item .active a::after {
//  border-bottom: 5px solid rgba(255, 255, 255, 0.75);
//  bottom: -10px;
//  content: " ";
//  left: 0;
//  position: absolute;
//  right: 0;
//}

.flash-msg__section {
  margin: 1rem 0 1rem 0;
}

.flash-alert {
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.flash-msg__section .success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.flash-msg__section .error {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}


//////////////////////////////////////

//Homepage


//////////////////////////////////////

//Merch dash and user show views
.merch-container, .prod-container {
  width: 80%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.merch-container section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.merch-header {
  margin-top: 64px;
  margin-bottom: 48px;
}

.merch-header h1 {
  margin-bottom: 25px;
}

.merch-header div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.merch-stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.merch-stats li {
  float: left;
  margin-right: 10px;
}

.separator {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}

.listings ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.listings ul li {
  list-style: none;
  flex: 0 0 33.333333%;
}

.listings ul li img {
  max-height: 100px;
  width: auto;
  margin: 10px 0 5px 0;
}

.retired img {
  max-height: 100px;
  width: auto;
  margin: 10px 0 5px 0;
  opacity: 0.5;
}

.listings ul li .item {
  margin-left: 10px;
}

.create-button {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  touch-action: manipulation;
  font-weight: 600;
  border-radius: 8px;
  border-width: 2px !important;
  border-style: solid;
  outline: none;
  padding: 7px 15px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  border-color: #5e60ce;
  background: transparent;
}

.create-button a {
  color: #5e60ce !important;
}

.create-button a:hover {
  text-decoration: none;
}

.create-button a.incomplete:link, .create-button a.incomplete:visited, .create-button a.complete:link, .create-button a.complete:visited {
  color: #5e60ce !important;
  text-decoration: none;
}

//////////////////////////////////////

//Product index page
.prod-container {
  justify-content: center;
  align-items: center;
}

.prod-container h1, .prod-container h2, .prod-container h3 {
  text-align: center;
}

.prod_container listing_items li {
  list-style: none;
  flex: 0 0 25% !important;
}

//////////////////////////////////////

//Product show page
p img {
  max-height: 200px;
  width: auto;
}