/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

////To visualize - can delete this before submission:
//* {
//  border: black 1px solid;
//}


//All pages
body {
  padding-top: 65px;
}

main {
  display: block;
}

//.navbar-nav > li {
//  float: left;
//  position: relative;
//}
//
//.navbar-dark .navbar-nav .nav-item .active a::after {
//  border-bottom: 5px solid rgba(255, 255, 255, 0.75);
//  bottom: -10px;
//  content: " ";
//  left: 0;
//  position: absolute;
//  right: 0;
//}

.flash-msg__section {
  margin: 1rem 0 1rem 0;
}

.flash-alert {
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.flash-msg__section .success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.flash-msg__section .error {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}


//////////////////////////////////////

//Homepage


//////////////////////////////////////

//Merch index view (all merchants)
.merch-summary {
  display: grid;
  grid-template-columns: 10% 30% auto;
  width: 100%;
  margin: 15px 0 25px 0;
  align-items: center;
}

.merch-container .merch_summary h2 {
  grid-column: 1;
  padding: 0 !important;
  margin: 0 !important;
}

.merch_summary .basic-info {
  grid-column: 2 / span 2;
}

.merch_summary .contact {
  grid-column: -1;
  font-size: 0.9rem;
}

.sub-info {
  color: grey;
  font-size: 0.8rem;
}

//Merch dash and user show views
.merch-container, .prod-container, .prod-show-container, .review-container {
  width: 80%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.merch-container section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.merch-header {
  margin-top: 64px;
  margin-bottom: 48px;
}

.merch-header h1 {
  margin-bottom: 25px;
}

.merch-header div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.merch-stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.merch-stats li {
  float: left;
  margin-right: 10px;
}

.separator {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}

.listings ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.listings ul li {
  list-style: none;
  flex: 0 0 33.333333%;
}

.listings ul li img {
  max-height: 100px;
  width: auto;
  margin: 10px 0 5px 0;
}

.retired img {
  opacity: 0.5;
}

.listings ul li .item {
  margin-left: 10px;
}

.create-button, input[type=submit] {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  touch-action: manipulation;
  font-weight: 600;
  border-radius: 8px;
  border-width: 2px !important;
  border-style: solid;
  outline: none;
  padding: 7px 15px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  border-color: #5e60ce;
  background: transparent;
}

.create-button a, input[type=submit] {
  color: #5e60ce !important;
}

.create-button a:hover, input[type=submit]:hover {
  text-decoration: none;
  border-color: #5e60ce;
  background-color: transparent;
}

.create-button a.incomplete:link,
.create-button a.incomplete:visited,
.create-button a.complete:link,
.create-button a.complete:visited,
input[type=submit].incomplete:link,
input[type=submit].incomplete:visited,
input[type=submit].complete:link,
input[type=submit].complete:visited, {
  color: #5e60ce !important;
  text-decoration: none;
  background-color: transparent;
}

.one-rating img {
  width: 80px;
  margin-right: 15px;
}

.reviewed-product {
  display: flex;
  align-items: center;
}

.reviewed-product a {
  font-size: 0.8rem;
}

//////////////////////////////////////

//Product index page
.prod-container h1, .prod-container h2, .prod-container h3 {
  text-align: center;
}

.prod_container listing_items li {
  list-style: none;
  flex: 0 0 25% !important;
}

section.prod-section {
  display: grid;
  justify-items: center;
}

section.prod_section div.create-button {
  padding: 0;
  font-size: 0.8rem;
}

//////////////////////////////////////

//Product show page
.prod-main {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.prod-show-container img {
  max-height: 300px;
  width: auto;
}

.prod-description {
  width: 40%;
}

.ratings {
  margin-top: 25px;
  margin-bottom: 25px;
}

.one-rating {
  display: flex;
  flex-direction: column;
}

.star-rating {
  color: #5e60ce;
}

//////////////////////////////////////

//New review page
.review-container {
  width: 60%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

//CSS for star rating
.rating {
  margin: 25px 0 25px 0;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #5e60ce;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #5e60ce;
}