// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1, h2 {
  padding-bottom: 30px;
}

.orders, .order-container {
  margin-top: 48px;
  margin-bottom: 48px;
}


/// Merchant Order Fulfillment Page
.merchant-container {
  display: flex;
  margin-bottom: 50px;
}

.merchant-container > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 200px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #600da1;
  border-radius: 10px;
  margin-right: 10px
}

.merchant-container * {
  font-weight: lighter;
}

.merchant-container > a:hover {
  text-decoration: none;
}

.merchant-container div:first-child {
  margin-right: 10px
}

.revenue {
  font-size: 50px
}

i {
  margin-bottom: 20px;
  opacity: 50%
}

.merchant-container a {
  color: #2e3339
}


/// Merchant Order Summary Page
.order-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px auto 200px auto;
  grid-template-areas:
  "h h h b"
  "i i i i"
  "s s d p"
  "c c d p"

}

.order-summary-heading {
  //align-self: end;
  //grid-column: 1 / -2;
  //grid-row: 1;
  grid-area: h
}

.back-to-order {
  justify-self: right;
  //grid-row: 1
  grid-area: b
}

.items-container {
  //grid-column: 1 / -1;
  grid-area: i;
}

.spacer {
  height: 100px;
  grid-area: s;
}

.price-description-container {
 //grid-column: -3 / -2;
  grid-area: d;
}

.price-container {
  //grid-column: -3 / -2;
  grid-area: p;
}

.customer-container {
  //grid-column: 1 / -1;
  grid-area: c;

}

.end {
  display: flex;
  justify-content: flex-end
}

.subtotal, .checkout-button{
   margin-right: 1em;
}

.order-info {
  padding: 5rem
}
