<main>
  <div class="prod-container listings">
    <%= render partial: "products/product_section",
               locals: {
                   section_name: "Category: #{@category.name.capitalize}",
                   category: "#{@category.name}",
                   category_instance: @category
               }
    %>
  </div>
</main>
