<main>
  <div class="prod-container listings">
    <h2>Edit Product: <%= @product.name %></h2>
    <%= render partial: "form",
               locals: {
                   action: 'Edit Product'
               }
    %>
  </div>
</main>