<h1>Planetary Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <% product_style = product.available? ? 'available' : 'unavailable' %>
      <div> <%= link_to product.name.capitalize, product_path(product) %> </div>
<!--      <div> image here <%#= link_to image, product_path(product), class: product_style %> </div>-->
      <div>
        Price: $<%= product.price %> |
        <%= link_to "Details", product_path(product) %> |
        <%= @product.available? ? 'Available! Add to cart' : 'Item is temporarily unavailable' %>
      </div>
    </li>
  <% end %>
</ul>